
a.nounderline {
    text-decoration: none;
    color: inherit;
}

a.nounderline:hover {
    text-decoration: none;
    color: inherit;
}

#note {
    border-radius: 25px;
}

.game-icon {
    border-radius: 4%;
    border: 1px solid #aaa  !important;
}

#visited-game {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.game-cont {
    text-align: center;
    margin-bottom: 4rem;

}

.row{
  margin-left: 0px !important;
  margin-right: 0px  !important;
}

.carousel-outer {
  border-bottom: 1px solid grey;
  padding: 1rem;
  padding-bottom: 10rem;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }


.game-description {
    font-family: Georgia, serif !important;
    font-size: 19px;
}

.game-description-p{
    text-indent: 50px;
}

#description-body{
    margin-bottom: 6rem;
    
}

.jumbotron-game {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-bottom: 1px solid grey;
    border-radius: .3rem
}

#main-title{
    color: #111; 
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid grey;
    text-align: center;
}

#game-quote{
    font-size: 12px;
}

.carousel{
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;

  }
.misclist{
    list-style: none;
    padding-left: 0px;
    margin-top: 50px;
  }

  .audio-player {
    position:fixed;
    z-index: 10;
    height: 50px;
    background:rgb(250, 250, 250);
    width: 400px;
    box-shadow: 0px 00px 5px 0px #000a;
    font-family: arial;
    color: black;
    font-size: 0.75em;
    right:0;
    display: grid;
    grid-template-rows: 6px auto;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 40px;
  }
  .audio-player .timeline {
    background: rgb(241, 241, 241);
    width: 100%;
    max-height: 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .audio-player .timeline .progress {
    background: grey;
    width: 0%;
    height: 100%;
    transition: 0.25s;
  }
  .audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
  }
  .audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid black;
  }
  .audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
  }
  .audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
  }
  .audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: black;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: black;
    content: "";
    height: 15px;
    width: 3px;
  }
  .audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
  }
  .audio-player .controls .time {
    display: flex;
  }
  .audio-player .controls .time > * {
    padding: 2px;
  }
  .audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
  }
  .audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
  }
  .audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
  }
  .audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: grey;
    height: 100%;
    width: 75%;
  }
  .audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
  }
  .icono-volume,.icono-volumeDecrease,.icono-volumeHigh,.icono-volumeIncrease,.icono-volumeLow,.icono-volumeMedium,.icono-volumeMute {
    width: 0;
    height: 0;
    border: 7px solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 6px 3px;
    box-shadow: inset 4px 0;
    margin: 4px 10px 4px 11px
}

.icono-volumeHigh,.icono-volumeLow,.icono-volumeMedium {
    margin: 4px 14px 4px 7px
}

.icono-volumeHigh:after,.icono-volumeHigh:before,.icono-volumeLow:before,.icono-volumeMedium:before {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: 2px
}

.icono-volumeHigh,.icono-volumeMedium {
    margin: 4px 16px 4px 5px
}

.icono-volumeHigh:before,.icono-volumeMedium:before {
    border-style: double;
    border-width: 6px;
    left: -2px
}

.icono-volumeHigh {
    margin: 4px 18px 4px 3px
}

.icono-volumeHigh:after {
    width: 32px;
    height: 32px;
    left: -7px
}

.icono-volumeDecrease,.icono-volumeIncrease,.icono-volumeMute {
    margin: 4px 16px 4px 5px
}

.icono-volumeDecrease:after,.icono-volumeDecrease:before,.icono-volumeIncrease:after,.icono-volumeIncrease:before,.icono-volumeMute:after,.icono-volumeMute:before {
    box-shadow: inset 0 0 0 32px
}

.icono-volumeDecrease:before,.icono-volumeIncrease:before,.icono-volumeMute:before {
    width: 10px;
    height: 2px;
    left: 17px
}

.icono-volumeIncrease:after,.icono-volumeMute:after {
    height: 10px;
    width: 2px;
    left: 21px
}

.icono-volumeMute:after,.icono-volumeMute:before {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}